/.phpunit.cache
/.phpunit.result.cache

/bootstrap/ssr

/node_modules
/vendor

/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

/storage/*.key
/storage/pail

/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

/coverage
/.vite

/__snapshots__

.env
.env.backup
.env.production
/auth.json

.DS_Store

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

.phpactor.json

/.fleet
/.idea
/.nova
/.vscode
/.zed

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php