@layer layout {
  /**
  * Auto responsive grid
  *
  * Used for cards, lists, collections.
  */
  .grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
    gap: var(--space-3);
  }

  .grid-auto-sm {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
  }

  .grid-auto-lg {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  }
}